<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li (click)="previous()" class="page-item" role="button" [ngClass]="{'disabled': currentPage === 1}">
            <a class="page-link" >Previous</a>
        </li>
        <li class="page-item" role="button" *ngFor="let page of pages" (click)="changePage(page)">
            <a class="page-link" [ngClass]="{'active' : currentPage === page}">{{ page }}</a>
        </li>
        <li (click)="next()" class="page-item" role="button" [ngClass]="{'disabled': currentPage === numberPages}">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>
