<div class="container-build principal">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/albums" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Se connecter</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Admin</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/template" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Template</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/reactif" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Reactif</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/oc" routerLinkActive="link-active">Open-Close</a>
        </li>
      </ul>
    </div>
    <p *ngIf="count">Time : {{ count }}</p>
  </nav>
  <!-- <app-album></app-album> -->
  <app-audio-player></app-audio-player>
  <router-outlet></router-outlet>
</div>

