<app-search (searchAlbums)="search($event)"></app-search>
<p>albums works!</p>
<h1>{{ titlePage }}</h1>
<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- <a class="navbar-brand" href="#">{{ title }}</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Se connecter
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="row content">
        <div class="col-sm-4 video">
            <!-- AlbumDetails communication parent vers enfant -->
            <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
        </div><!-- .video -->
        <div class="col-sm-8 music" *ngIf="albums">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav><!-- .pagination -->
            <button type="button" class="btn btn-lg btn-danger">You are in an anonymous mode.</button>
            <div class="card div_albums_card" *ngFor="let album of albums; let i = index">
                <div class="card-header">
                    {{ i + 1}}
                    {{ album.ref }}
                    <span *ngIf="status === album.id">[Play]</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ album.title }}</h5>
                    <p class="card-text">{{ album.description }}</p>
                    <div class="div_tags" *ngIf="album.tags">
                        <span *ngFor="let tag of album.tags" class="btn btn-outline-white btn-primary span_tags"
                            href="#" role="button">{{ tag }}</span>
                    </div>
                    <a class="btn btn-outline-primary" href="#" role="button">en</a>
                    <img class="glyph-icon" src="../../assets/svg/si-glyph-heart.svg" />
                    <small *ngIf="album.like">{{ album.like }}</small>
                    <img class="glyph-icon" src="../../assets/svg/si-glyph-timer.svg" />
                    <small *ngIf="album.duration">{{ album.duration }} min</small>
                    <!-- <a class="btn details_btn" role="button" (click)="onSelect(album)">Details</a> -->
                    <button class="btn btn-dark" (click)="onSelect(album)">Details</button> 
                    <!-- <small *ngIf="album.status === 'on'">En cours de lecture</small> -->
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav><!-- .pagination -->
        </div><!-- .music -->

    </div>